<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hero EUC Registry</title>
    <link rel="stylesheet" type="text/css" href="./themes/material-teal/material-teal.css">
    <link rel="stylesheet" type="text/css" href="./themes/icon.css">
    <link rel="stylesheet" type="text/css" href="./demo/demo.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
    <style>
        .center {
            text-align: center;
        }

        .ddv {
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-detailview.js"></script>
</head>

<body>
    <h2>EUC MODIFICATION REGISTRY</h2>

    <table id="dg" title="Equipment Registry" class="easyui-datagrid" style="width:100%;height:400px" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true">
    </table>

    <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addEUC()">Add Equipment Under
            Control</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
            onclick="reject()">Reject changes</a>
    </div>

    <div id="dlg-euc" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" closed="true"
        buttons="#dlg-buttons-euc">
        <div class="ftitle">EUC Information</div>
        <form id="fm-euc" method="post" novalidate>
            <div class="fitem">
                <label>EUC Description:</label>
                <input name="eucdescription" class="easyui-textbox" required="true">
            </div>
            <div class="fitem">
                <label>Project Code:</label>
                <select class="easyui-combobox" name="projectcode" label="Project Code:" labelPosition="left" style="width: 70%;"
                    data-options="url:'/getProjCodes', method:'get', valueField:'projectid', textField:'projectcode'"></select>


            </div>
            <div class="fitem">
                <label>Decommission Date:</label>
                <input id="dd" type="text" class="easyui-datebox" required="required">
            </div>
        </form>
    </div>

    <div id="dlg-owner" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" closed="true"
        buttons="#dlg-buttons-owner">
        <div class="ftitle">Owner Information</div>
        <form id="fm-owner" method="post" novalidate>
            <div class="fitem">
                <label>Owner:</label>
                <input name="ownerdesc" class="easyui-textbox" required="true">
            </div>
            <div class="fitem">
                <label>Date Owned:</label>
                <input id="do" name="dateowned" class="easyui-datebox" required="required">
            </div>
        </form>
    </div>
    <div id="dlg-doc" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" closed="true"
        buttons="#dlg-buttons-doc">
        <div class="ftitle">Document Information</div>
        <form id="fm-doc" method="post" novalidate>
            <div class="fitem">
                <label>Document Number:</label>
                <input name="docno" class="easyui-textbox" required="true">
            </div>
            <div class="fitem">
                <label>Document Name:</label>
                <input name="docname" class="easyui-textbox" required="true">
            </div>
        </form>
    </div>

    <div id="dlg-buttons-euc">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveEUC()"
            style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
            onclick="javascript:$('#dlg-euc').dialog('close')" style="width:90px">Cancel</a>
    </div>

    <div id="dlg-buttons-owner">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveOwner()"
            style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
            onclick="javascript:$('#dlg-owner').dialog('close')" style="width:90px">Cancel</a>
    </div>
    <div id="dlg-buttons-doc">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveDoc()"
            style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
            onclick="javascript:$('#dlg-doc').dialog('close')" style="width:90px">Cancel</a>
    </div>

    <script type="text/javascript">
        $(function () {
            var editIndex = undefined;
            $('#dg').datagrid({
                url: '/getEUC',
                method: 'get',
                view: detailview,
                detailFormatter: function (index, row) {
                    var html = '<div class="easyui-accordion" style="width:50%;height:300px;">';

                    // Panel for Previous Owners
                    html += '<div title="Previous Owners" style="padding:10px;display:none;" iconCls="icon-search">';
                    html += '<div id="tlb-owner-' + index + '"><a href="#" class="easyui-linkbutton add-button" iconCls="icon-add" plain="true" onclick="addOwner(' + index + ')">Add Owner</a></div>';
                    html += '<table id="ddv-owner-' + index + '" class="easyui-datagrid" style="width:100%;height:200px" pagination="true" rownumbers="true" fitColumns="true"></table>';
                    html += '</div>';

                    // Panel for Related Documents
                    html += '<div title="Related Documents" style="padding:10px;display:none;" iconCls="icon-edit">';
                    html += '<div id="tlb-doc-' + index + '"><a href="#" class="easyui-linkbutton add-button" iconCls="icon-add" plain="true" onclick="addDoc(' + index + ')">Add Document</a></div>';
                    html += '<table id="ddv-doc-' + index + '" class="easyui-datagrid" style="width:100%;height:200px" pagination="true" rownumbers="true" fitColumns="true"></table>';
                    html += '</div>';

                    // Panel for MRQ Helpdesk Tickets & Checksums
                    html += '<div title="MRQ Helpdesk Tickets & Checksums" style="padding:10px;display:none;" iconCls="icon-help">';
                    html += '<table id="ddv-tickets-' + index + '" class="easyui-datagrid" style="width:100%;height:200px" pagination="true" rownumbers="true" fitColumns="true"></table>';
                    html += '</div>';

                    // Software Configuration Management
                    html += '<div title="Software Configuration Management" style="padding:10px;display:none;" iconCls="icon-reload">';
                    html += '<div id="tlb-software-' + index + '"><a href="#" class="easyui-linkbutton add-button" iconCls="icon-add" plain="true" onclick="addSoftware(' + index + ')">Modify Metadata</a></div>';
                    html += '<table id="ddv-software-' + index + '" class="easyui-datagrid" style="width:100%;height:200px" pagination="true" rownumbers="true" fitColumns="true"></table>';
                    html += '</div>';

                    html += '</div>';
                    setTimeout(function () {


                        // Apply style to all "Add" buttons inside the accordion
                        $('.add-button').linkbutton({
                            width: 180, // Adjust width as needed

                        });
                    }, 0);
                    return html;
                },
                singleSelect: true,
                fit: true,
                fitColumns: true,
                rownumbers: true,
                toolbar: '#toolbar',
                columns: [[
                    { field: 'eucid', title: 'EUC ID', hidden: true },
                    { field: 'projectid', title: 'Project ID', hidden: true },
                    { field: 'eucdesc', title: 'EUC Description', width: 150, editor: 'text' },
                    {
                        field: 'projectcode', title: 'Project Code', width: 100, editor: {
                            type: 'combobox',
                            options: {
                                valueField: 'projectid',
                                textField: 'projectdesc',
                                method: 'get',
                                url: '/getProjCodes',
                                required: true,
                                onSelect: function (record) {
                                   
                                    if (editIndex >= 0) {
                                        var row = $('#dg').datagrid('getData').rows[editIndex];
                                        // Update clientname and projectname
                                     
                                        row.clientname = record.clientname;
                                        row.projectname = record.projectname;
                                       
        
                                        // Update the row in the datagrid
                                        $('#dg').datagrid('updateRow', {
                                            index: editIndex,
                                            row: row
                                        });
                                    }
                                }
                            }
                        }
                    },
                    { field: 'clientname', title: 'Client', width: 100},
                    { field: 'projectname', title: 'Project Name', width: 150},
                    { field: 'datedecom', title: 'Decommission Date', width: 100, editor: 'datebox' }
                ]],
                onExpandRow: function (index, row) {
                    var queryParamsOwner = {
                        eucid: row.eucid
                    };
                    var queryParamsDoc = {
                        eucid: row.eucid,
                        projectcode: row.projectcode
                    };
                    var queryParamsTickets = {
                        eucid: row.eucid,
                        projectid: row.projectid
                    };

                    // Initialize accordion panels
                    $('#dg').datagrid('getRowDetail', index).find('.easyui-accordion').accordion({
                        fit: true,
                        border: true
                    });

                    // Initialize datagrids inside accordion panels
                    $('#ddv-owner-' + index).datagrid({
                        url: '/getOwners',
                        method: 'get',
                        queryParams: queryParamsOwner,
                        pagination: true,
                        rownumbers: true,
                        fitColumns: true,
                        singleSelect: true,
                        columns: [[
                            { field: 'ownerdesc', title: 'Owner', width: 150 },
                            { field: 'dateowned', title: 'Date Owned', width: 150 }
                        ]]
                    });

                    $('#ddv-doc-' + index).datagrid({
                        url: '/getDoc',
                        method: 'get',
                        queryParams: queryParamsDoc,
                        pagination: true,
                        rownumbers: true,
                        fitColumns: true,
                        singleSelect: true,
                        columns: [[
                            { field: 'docno', title: 'Doc No.', width: 100 },
                            { field: 'docname', title: 'Document Name', width: 150 }
                        ]]
                    });

                    $('#ddv-tickets-' + index).datagrid({
                        url: '/getMRQ',
                        method: 'get',
                        queryParams: queryParamsTickets,
                        pagination: true,
                        rownumbers: true,
                        fitColumns: true,
                        singleSelect: true,
                        columns: [[
                            { field: 'helpdeskid', title: 'Ticket ID', width: 100 },
                            { field: 'logbyname', title: 'Logged by', width: 150 },
                            { field: 'logdate', title: 'Date Logged', width: 100 },
                            { field: 'cheksum', title: 'Checksum', width: 100 }
                        ]]
                    });
                },
                onClickCell: onClickCell,
                onEndEdit: onEndEdit
            });


            function endEditing() {
                if (editIndex == undefined) { return true }
                if ($('#dg').datagrid('validateRow', editIndex)) {
                    $('#dg').datagrid('endEdit', editIndex);
                    editIndex = undefined;
                    return true;
                } else {
                    return false;
                }
            }
            function onClickCell(index, field) {
                if (editIndex != index) {
                    if (endEditing()) {
                        $('#dg').datagrid('selectRow', index)
                            .datagrid('beginEdit', index);
                        var ed = $('#dg').datagrid('getEditor', { index: index, field: field });
                        if (ed) {
                            ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                        }
                        editIndex = index;
                    } else {
                        setTimeout(function () {
                            $('#dg').datagrid('selectRow', editIndex);
                        }, 0);
                    }
                }
            }

        });
        function onEndEdit(index, row) {
            var ed = $(this).datagrid('getEditor', {
                index: index,
                field: 'projectcode'
            });
            row.projectcode = $(ed.target).combobox('getText');
        }
        function append() {
            if (endEditing()) {
                $('#dg').datagrid('appendRow', { status: 'P' });
                editIndex = $('#dg').datagrid('getRows').length - 1;
                $('#dg').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
            }
        }
        function removeit() {
            if (editIndex == undefined) { return }
            $('#dg').datagrid('cancelEdit', editIndex)
                .datagrid('deleteRow', editIndex);
            editIndex = undefined;
        }
        function acceptit() {
            if (endEditing()) {
                $('#dg').datagrid('acceptChanges');
            }
        }
        function reject() {
            $('#dg').datagrid('rejectChanges');
            editIndex = undefined;
        }
        function getChanges() {
            var rows = $('#dg').datagrid('getChanges');
            alert(rows.length + ' rows are changed!');
        }

        function addEUC() {
            $('#dlg-euc').dialog('open').dialog('setTitle', 'New EUC');
            $('#fm-euc').form('clear');
        }

        function addOwner(index) {
            $('#dlg-owner').dialog('open').dialog('setTitle', 'Add Owner');
            $('#fm-owner').form('clear');
            $('#fm-owner').form('load', {
                eucid: $('#dg').datagrid('getData').rows[index].eucid
            });
        }

        function addDoc(index) {
            $('#dlg-doc').dialog('open').dialog('setTitle', 'Add Document');
            $('#fm-doc').form('clear');
            $('#fm-doc').form('load', {
                eucid: $('#dg').datagrid('getData').rows[index].eucid
            });
        }

        function addTicket(index) {
            // Implement functionality to add tickets
            alert('Add ticket for EUC ID: ' + $('#dg').datagrid('getData').rows[index].eucid);
        }

        function saveEUC() {
            $('#fm-euc').form('submit', {
                url: '/saveEUC',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.errorMsg) {
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        $('#dlg-euc').dialog('close');
                        $('#dg').datagrid('reload');
                    }
                }
            });
        }

        function saveOwner() {
            $('#fm-owner').form('submit', {
                url: '/saveOwner',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.errorMsg) {
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        $('#dlg-owner').dialog('close');
                        $('#dg').datagrid('reload');
                    }
                }
            });
        }


    </script>
</body>

</html>
